/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Barlow", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/*Variables*/
:root {
  --bg-color: #e2e2e2;
  --text-color: #0e172c;
  --btn-color: rgb(255, 43, 43);
  --white-color: #ffffff;
}
/*custom scroll bar*/
html::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 5rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  padding: 4.5rem 0 1.5rem;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 0 0 4px rgb(14, 55, 54 / 15%);
}

header.shadow .navbar a {
  color: var(--text-color);
}

header.shadow .logo {
  color: var(--text-color);
}

.logo {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logos {
  width: 1.1rem;
}

.navbar {
  display: flex;
  column-gap: 5rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}

.navbar a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--btn-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
  width: 100%;
}
#menu-icon {
  font-size: 1.1rem;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}
.btn {
  padding: 0.7rem 1.4rem;
  background: var(--btn-color);
  color: #fffffe;
  font-weight: 400;
  border-radius: 0.5rem;
  text-shadow: 4px 3px 10px #00000055;
  box-shadow: 4px 3px 10px #0000003c;
}

.btn:hover {
  background: rgb(249, 70, 70);
}

/*Boxes*/

.conatiner {
  width: 100%;
  min-height: 1152px;
  position: relative;
  display: flex;
  align-items: center;
  background: rgb(2, 3, 7, 0.4);
}

.conatiner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  border-radius: 0.2rem !important;
  background: #fffffe !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  background: rgb(241, 67, 67) !important;
}

.home-text {
  z-index: 1000;
  padding: 100px 150px;
}
.home-text span {
  color: var(--text-color);
  font-weight: 500;
  text-transform: uppercase;
}
.play .bx {
  font-size: 1.5rem;
  color: var(--btn-color);
}
.latest {
  padding-left: 40px;
}
.home-text h1 {
  color: var(--bg-color);
  text-shadow: 4px 3px 10px #0000006a;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/*PROFILES*/

.heading {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color);
  border-bottom: 5px solid rgb(255, 49, 49);
}

.profiles-container {
  max-width: 2000px;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(585.2px, 50px));
  gap: 3rem;
}

.box .box-img {
  width: 100%;
  height: 819.2px;
}

.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 4px 3px 5px #0000004f;
}

.box .box-img img:hover {
  transform: translateY(-10px);
  transition: 0.2s all linear;
}

.box h3 {
  padding-top: 10px;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.box span {
  display: flex;
  font-size: 25px;
}

.footer {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social .bx {
  background: var(--bg-color);
  padding: 2px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.4);
  color: var(--btn-color);
}

.social bx:hover {
  background: var(--btn-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

@media (max-width: 1080px) {
  .home-text {
    padding:200px 40%;
  }
  .profiles-container {
    grid-template-columns: repeat(auto-fit, minmax(438.9px, auto));
    gap: 0.8rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
  .home-text {
    padding: 400px 30%;
  }
  .home-text h1 {
    font-size: 3rem;
  }
  .profiles-container {
    grid-template-columns: repeat(auto-fit, minmax(438.9px, auto));
    gap: 0.7rem;
  }
  .box .box-img {
    height:  1000px;
  }
}

@media (max-width: 774px) {
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--bg-color);
  }
  header.shadow #menu-icon {
    color: var(--btn-color);
  }
  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    row-gap: 1.4rem;
    padding: 20px;
    box-shadow: 4px 4px 0 4px rgb(14, 55, 54 / 15%);
    transition: 0.2s all linear;
    text-align: center;
  }
  .navbar a {
    width: 100%;
    color: var(--text-color);
  }
  .navbar a:hover {
    color: var(--btn-color);
    border-bottom: 2px solid var(--btn-color);
  }
  .navbar a::after {
    display: none;
  }
  .navbar.active {
    top: 100%;
  }
  .home-text h1 {
    font-size: 2.4rem;
  }
  .btn {
    padding: 0.6rem 1.2rem;
  }
  .profiles-container {
    grid-template-columns: repeat(auto-fit, minmax(438.9px, auto));
    gap: 1rem;
  }
  .box .box-img {
    height:  1000px;
  }
 
}

@media (max-width: 472px) {
  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}

@media (max-width: 420px) {
  header {
    padding: 6px 4%;
  }
  .home-text {
    padding: 400px 30%;
  }
  .home-text h1 {
    font-size: 1.7rem;
  }
  .play {
    right: 2rem;
    bottom: 8%;
  }
  .play .bx {
    padding: 7px;
  }
  .profiles-container {
    grid-template-columns: repeat(auto-fit, minmax(292.6px, auto));
    gap: 1rem;
  }
  .box .box-img {
    height: 500px;
  }
}

@media (max-width: 335px) {
    .home-text {
        margin-top: 250px;
        padding: 10px 20%;
      }
    .profiles-container {
        grid-template-columns: repeat(auto-fit, minmax(146.3px, auto));
        gap: 1rem;
      }
      .box .box-img {
        height: 400px;
      }
}
